@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$primary: rgb(248, 186, 99);
$family-sans-serif: "Poppins", sans-serif;

@mixin hero-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin link {
  a {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
  }
  a:hover {
    color: $primary;
  }
}
